name: Playwright Cucumber Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        browser: [chromium, webkit]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libwoff1 libwoff2-1 libvpx7 libevent-2.1-7 libopus0 \
            libharfbuzz-icu0 libgstreamer1.0-0 libgstreamer-plugins-base1.0-0 \
            libgstreamer-plugins-good1.0-0 libgstreamer-plugins-bad1.0-0 \
            libsecret-1-0 libhyphen0 libflite1 libgles2-mesa libx264-163 \
            fonts-liberation libasound2 libatk1.0-0 libcups2 libdbus-1-3 \
            libdrm2 libxcomposite1 libxdamage1 libxrandr2 libgbm1 libnss3 \
            libxshmfence1 libgtk-3-0 libpango-1.0-0 libatspi2.0-0

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            maven-

      - name: Run smoke tests
        run: mvn clean test -Dheadless=true -Dbrowser=${{ matrix.browser }} -Dcucumber.filter.tags=@smoke

      - name: Upload artefacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports-${{ matrix.browser }}
          path: target/
